@model IEnumerable<Model.ViewModel.UserRoleViewModel>
@using GridMvc.Html
@{    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">

    <div class="panel-heading">

        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span>User Roles</span>
        </h3>
        <hr style="margin-top:0px;margin-bottom:0px" />

        <div class="panel-info">
            <h4 style="padding:5px 0 0 0;margin:0px">
                @Html.ActionLink(" ", " ", " ", null, new { @class = "glyphicon glyphicon-refresh toolbar", @title = "Refresh Page", @data_toggle = "tooltip", @id = "RefreshPage" })
                @Html.ActionLink(" ", "Sync", "UserRoles", null, new { @class = "glyphicon glyphicon-refresh toolbar right", @title = "Sync", @data_toggle = "tooltip" })
            </h4>
        </div>

    </div>
    <div class="panel-info" style="padding-left:5px;padding-top:2px">

        @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(foo => foo.UserId, true);
               columns.Add(foo => foo.UserName).Sortable(true).Titled("Name").Filterable(true);
               columns.Add(foo => foo.RolesList).Sortable(true).Titled("Roles").Filterable(true);
               columns.Add(m => m.Email).Sortable(true).Titled("Email").Filterable(true);
           }).WithPaging(25).EmptyText("No records found.")
    </div>
</div>
<script type="text/javascript">

    $('table.grid-table td').dblclick(function () {
        var $this = $(this);
        var row = $this.closest("tr");
        var editid = row.find('[data-name="UserId"]').text();
        var url = '@Url.Action("UpdateRoles", "UserRoles")' + "?UserId=" + editid;
        window.location.href = url;

    });

</script>