Libs
bin
obj
Uploads
packages
/Source/Store/Properties/PublishProfiles
/Source/HumanResource/Properties/PublishProfiles
/Dyeing/Customize/Web.config.bak
/Source/Database/Database.jfm
*.rds
*.data
*.suo
/Source/Report/Report/*.rsd
*.config
