
@{
    ViewBag.Title = "Sucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Merging Completed Successfully</h2>

@Html.ActionLink("Go Back", "SingleMerging", "PersonMerging", null, new { @class = "btn btn-primary btn-sm col-md-offset-0 CurveBorder ActionLinkPadding" })
