@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<hr style="margin-top:0px;margin-bottom:0px" />

<div class="panel-info">
    <h4 style="padding:5px 0 0 0;margin:0px">
        @Html.ActionLink(" ", "Index", "RolesAdmin", null, new { @class = "glyphicon glyphicon-list toolbar right", @title = "List", @data_toggle = "tooltip" })
    </h4>
</div>
<h3>Are you sure you want to delete this Role and Remove all Users from this Role?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(m=>m.Name)
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
