@{
    ViewBag.Title = "No Roles";
    Layout = null;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <h3>
        No roles have been assigned to your account. Please contact administrator to assign roles.
    </h3>
</div>