
@{
    ViewBag.Title = "Sucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excel Import Completed Successfully</h2>

@Html.ActionLink("Back To List", "Index", "SaleOrderCancelHeader", new { @class = "btn btn-primary btn-sm col-md-offset-0 CurveBorder ActionLinkPadding" })