
@{
    ViewBag.Title = "UnderImplementation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">

    <div class="panel-heading" style="background-image: linear-gradient(to bottom, #E44C4C 0%, #E45F5F 100%); color: white">
        <h3>
           No settings found for this record
        </h3>
    </div>
    <div class="panel-body">
        <h4>
            Please contact administrator for creating the settings for this Transaction...
        </h4>
        
    </div>

</div>