
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/Content/component.css" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        a:hover {
            color: #fff;
        }
    </style>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <div class="container">

        <div class="main">
            <ul class="cbp-ig-grid">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-heart" style="font-size:8em;padding:30px 0 0 0"></span>
                        <h3 class="cbp-ig-title">Squid voluptate</h3>
                        <span class="cbp-ig-category">Fashion</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user" style="font-size:8em;padding:30px 0 0 0"></span>
                        <h3 class="cbp-ig-title">Mixtape lo-fi</h3>
                        <span class="cbp-ig-category">Design</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-music" style="font-size:8em;padding:30px 0 0 0"></span>
                        <h3 class="cbp-ig-title">Cosby sweater</h3>
                        <span class="cbp-ig-category">Lifestyle</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-cloud" style="font-size:8em;padding:30px 0 0 0"></span>
                        <h3 class="cbp-ig-title">Commodo</h3>
                        <span class="cbp-ig-category">Food</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <span class="glyphicon glyphicon-envelope" style="font-size:8em;padding:30px 0 0 0"></span>
                        <h3 class="cbp-ig-title">Bitters kitsch</h3>
                        <span class="cbp-ig-category">Gadgets</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user" style="font-size:8em;padding:30px 0 0 0"></span>
                        <h3 class="cbp-ig-title">Austin proident</h3>
                        <span class="cbp-ig-category">Music</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
