@model Presentation.ViewModels.ReasonViewModel


@using Core.Common

<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> Deletion</span>
        </h3>
    </div>
    <div>
        <div class="panel-heading" style="background-image: linear-gradient(to bottom, #E44C4C 0%, #E45F5F 100%); color: white">
            <h3>
                Permission Denied
            </h3>
        </div>
        <div class="panel-body">
            <h4>
                You don't have permission to do this task.
            </h4>

        </div>
        
    </div>
</div>
