
@{
    ViewBag.Title = "UnderImplementation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">

    <div class="panel-heading" style="background-image: linear-gradient(to bottom, #99D87F 0%, #8FD275 100%);color:white">
        <h3>
            Under Implementation
        </h3>
    </div>
    <div class="panel-body">
        <h4>
            We're Sorry for the Inconvinence. This feature will be added soon...
        </h4>
    </div>

</div>