@model Model.ViewModel.MenuModuleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/IconGrid/component.css" rel="stylesheet" />
<link href="~/Content/IconGrid/default.css" rel="stylesheet" />

@if(Model.RoleModification.HasValue && Model.RoleModification==true)
{
    <style type="text/css">

        .cbp-ig-grid li > a{
            color:#0ed3a9;
        }
        .cbp-ig-grid .cbp-ig-title:before {
            background: #0ed3a9;
        }

    </style>
}


<div class="container">
    <div class="main" >
        <ul class="cbp-ig-grid" style="margin-top:50px">

            @foreach (var item in Model.MenuModule)
            {
                <li>
                    <a href="/Menu/SubModule/@item.ModuleId@(Model.RoleModification==true?"?RolePerm=true":"")" style="text-decoration:none">
                        <span class="@item.IconName" style="font-size:8em;padding:30px 0 0 0"></span>
                        <h3 class="cbp-ig-title">@item.ModuleName</h3>
                        <span class="cbp-ig-category">Module</span>
                    </a>
                </li>
            }

        </ul>
    </div>
</div>
