@{
    ViewBag.Title = "Invite Only";
    Layout = null;
}

<div style="padding:0px 40px 0px 50px;">
    <h2>@ViewBag.Title.</h2>

    <p> Cannot register at this moment as this is invite only feature.</p>

</div>