@{
    ViewBag.Title = "No Roles";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        No roles have been assigned to your account. Please contact administrator to assign roles.
    </p>
</div>