@model IEnumerable<Model.Models.DocumentType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

</style>


<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-list black"></span> Document Type List</span>
        </h3>
        
    </div>
    <div class="panel-info" style="width:100%">
        <div class="Wrapper">


            @foreach (var item in Model)
            {

                <div class="Box">
                    <a href="/PurchaseInvoiceReturnHeader/Index/@item.DocumentTypeId">
                        <div class="InnerContent">
                            <div style="width:100%">
                                <h1><span class="glyphicon glyphicon-alert"></span></h1>
                            </div>
                            <div class="titleBox">@item.DocumentTypeName</div>


                        </div>
                    </a>
                </div>


            }

        </div>

    </div>
</div> 